.observer-intro	{width: 480px;margin:0 auto;text-align: center;padding-bottom: 10px;}
.observer-intro p {margin-bottom:20px;line-height: 28px;font-size: 16px;color: #777;text-align: left;}
.observer-intro a {color:#b42800;}
.observer-intro img {padding:20px 10px 0px 10px;}
.observer-summary {height: 15px; margin: 0 auto;text-align: center;font-size: 15px;color: #B9B9B9;}

#pubemail {background:url(../images/email-link.png);}
