.observer-intro	{width: 500px;margin:0 auto;text-align: center;padding-bottom: 20px;}
.observer-intro p {margin-bottom:20px;line-height: 28px;font-size: 16px;color: #777;text-align: left;}
.observer-intro img {padding:10px 10px 0px 10px;}
.observer-summary {margin: 0 auto;text-align: center;font-size: 15px;color: #B9B9B9;}