body {min-width: 0px;}

#container{
	width: auto;
	margin:0;
	padding:0;
}

#search-page	{
	margin:0;
	width: 660px;
	height: 100%;
	text-align: center;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	z-index: 1000;
	background-color:#f9f9f9;
}

#search-page .pagination {
	width: 350px;
	padding-bottom: 40px;
	text-align: center;
}

.search-box {
	padding-top: 100px;
	margin:0 auto;
	text-align: center;
	max-width: 368px;
}

.search-box p {
	font-size:13px;
	color:#b9b9b9;
	margin:0px;
	padding-top: 15px;
	padding-bottom: 40px;
}

#search-form .topsearch_input	{
	width:260px;
	padding-left: 10px;
	padding-right: 30px;
}


input#search-form .topsearch_input:focus	{
	color:#777777;
	width:290px;
	outline-width: 0px;
	padding-right:30px;
	margin-left: 0px;
	font-family: "CNPzh", "CNPla", "Helvetica Neue", Arial, "DejaVu Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


#search-form .topsearch_img	{
	margin:0 0 0 -30px;
	vertical-align: middle;
}

.search-box-shadow {
	margin-top: -37px;
	margin-left: 5px;
	width: 100%;
	height: 5px;
	background-image: url('../images/search-box-bottom-shadow-hover.png');
	background-repeat: no-repeat;
	position: relative;
	z-index: 1000;
	vertical-align: middle;
}

.search-results {
	width: 560px;
	margin:0 auto;
	text-align: center;
}

.search-results a {
	text-decoration: none;
}

.search-results-item {
	padding-bottom: 35px;
	text-align: left;
}

.result-head, .result-head a {
	line-height: 28px;
	font-size: 16px;
	font-weight: bold;
	color:#3b3b3b;
}

.result-abstract {
	text-decoration: none;
}

.search-results-item p {
	line-height: 25px;
	font-size: 14px;
	color:#777777;
}

.search-key{
	color:#b42800;
}

.result-link, .result-link a {
	line-height: 25px;
	font-size: 13px;
	color:#b9b9b9;
}





