/*reset*/
* {
 /* margin: 0;
  padding: 0;*/
  
  border: none;
  outline: none;
  font-size: 100%;
  list-style: none;
  /*font-style: normal;
  font-weight: normal;*/
  text-decoration: none;
  
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  
  /*
  Uncomment this if you understand what you're doing.
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  */
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-focus-inner {
  border: none;
  padding: 0;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* Font Smoothing 

body, button, input, textarea {
   -webkit-font-smoothing: subpixel-antialiased; 
  -webkit-font-smoothing: antialiased;
}*/

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both
}

.clearfix {
  zoom: 1
}

/*reset ends*/


@font-face {
    font-family: "CNPzh";
    src: local("Hiragino Sans GB"), local("Microsoft YaHei"), local("WenQuanYi Micro Hei");
    unicode-range: U+00B7;
}
 
@font-face {
    font-family: "CNPla";
    src: local(Arial);
    unicode-range: U+2014;
}

body
{
min-width: 960px;
height: 100%;
width:expression(document.body.clientWidth < 960? "960px": "auto" );
	padding:0px;
	margin:0 auto;
	font-size:15px;
	font-family: "CNPzh", "CNPla", "Helvetica Neue", Arial, "DejaVu Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	background-color:#5e5e5e;
	background-image:url(images/background_pattern.jpg);
}

p {margin:0;padding:0;}

#container{margin:0 auto;margin-bottom:50px;width:960px;padding-left:40px;padding-right:40px;border-width:0px solid #dcdcdc;min-height: 100%;}
#container-copy {margin:0 auto;width:960px;padding-left:40px;padding-right:40px;border-width:0px solid #dcdcdc;}

/* Header elements styles
----------------------------------------------------------------------------------------------------*/

#logo {
	background: url(images/shadow_header.png) bottom no-repeat;
	height: 100px;
	margin: 0px auto;
}
#logo a {
	display: block;
	width: 768px;
	height: 92px;
	margin: 0px auto;
	background: url(images/logo.png) center 17px no-repeat;
	font-size: 0px;
}
/* old */
/*
#logo{background:url(images/logo.png) no-repeat center;height:76px;margin-top:17px;margin-bottom:0px;text-align:center;position:relative;}
.shadow{background: url(images/shadow_header.png) no-repeat center;height: 43px;text-align: center;margin-top: -30px;}
*/
#search	{
	text-align: center;
	margin-top: 12px;
}

.topsearch_input	{
	color:#b9b9b9;
	background-color: transparent;
	/*color:#777777;*/
	width:110px;
	height: 28px;
	font-size:14px;
	font-family: "CNPzh", "CNPla", "Helvetica Neue", Arial, "DejaVu Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
/*	box-shadow: 0px -2px 3px rgba(0,0,0,0.1), -2px 0px 3px rgba(0,0,0,0.1), 2px 0px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px -2px 3px rgba(0,0,0,0.1), -2px 0px 3px rgba(0,0,0,0.1), 2px 0px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px -2px 3px rgba(0,0,0,0.1), -2px 0px 3px rgba(0,0,0,0.1), 2px 0px 3px rgba(0,0,0,0.1);
*/	padding-left:10px;
	padding-right: 30px;
	vertical-align: middle;
	behavior: url(PIE.htc);
	margin-left: -10px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.topsearch_img	{
	margin:0 0 0 -30px;
	vertical-align: middle;
	position: relative;
	z-index: 2;
}

.topsearch_img_shadow {
	margin:28px 0px 0px -172px;
	vertical-align: middle;
	pointer-events:none;
}

.front-search-box-shadow {
	text-align: center;
	margin:0 auto;
	background:url(images/search-box-bottom-shadow.png) center no-repeat;
	height: 5px;
	margin-top: -37px;
	width: 203px;
	position: relative;
	z-index: 100;	
}

.front-search-box-shadow-hover {
	margin:0 auto;
	margin-top: -37px;
	text-align: center;
	background:url(images/search-box-bottom-shadow-hover.png) center no-repeat;
	height: 5px;
	width: 365px;	
	position: relative;
	z-index: 1901;	
}


input.topsearch_input:focus	{
	color:#777777;
	width:260px;
	outline-width: 0px;
	padding-right:30px;
	font-family: "CNPzh", "CNPla", "Helvetica Neue", Arial, "DejaVu Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	-webkit-transition: width 0.1s ease;  
    -moz-transition: width 0.1s ease;  
    -o-transition: width .1s ease;  
    -ms-transition: width .1s ease;  
    transition: width .1s ease;
    behavior: url(PIE.htc);  
}

#nav	{
	margin-top:30px;
	margin-bottom:25px;
}

#nav a {color:#000;text-decoration: none;}
#nav ul {list-style: none;}
#nav .nav-header {
	padding: 8px 10px;
	border-top:1px dashed #B9B9B9;
	border-left:1px dashed #B9B9B9;
	border-right:1px dashed #B9B9B9;
	/*height: 30px;*/
	background-color:rgba(95,60,0,0.05);
	margin:0px;
}

#nav .last {border-bottom:1px dashed #B9B9B9;margin-bottom: 30px;}
#nav .nav-box	{height:100%;}
#nav .nav-box a {font-size:14px;color:#b42800;line-height: 25px;}
#nav .nav-box ul {padding:4px 0px;margin: 0px;}
#nav .nav-box ul li :before {content: "• "; color: #b9b9b9;}
#nav .nav-box ul li {line-height: 28px; padding-left:9px; padding-right:10px;}
#nav .nav-box ul li a {font-size:14px;color:#222;line-height: 25px;}
#nav .more {margin-bottom:20px; margin-right: 10px;}
#nav .more a {color:#B9B9B9;font-size:13px;float: right;}
#nav .nav-collapse-content {
	padding-top: 8px;
	display: none;
	border-top:1px dashed #B9B9B9;
	border-left:1px dashed #B9B9B9;
	border-right:1px dashed #B9B9B9;
	overflow: hidden;
}

#nav .continent	{overflow: hidden;}
#nav .continent ul {margin-left:0px;margin-bottom:55px;list-style: disc;}
#nav .continent ul li {width: 130px; float: left;}

#nav .topic {overflow: hidden;}
#nav .topic ul {margin-left:0px;margin-bottom:55px;list-style: disc;}
#nav .topic ul li {width: 90px;float: left;}



.collapse-nav	{cursor:pointer;float:right;padding:8px 0px;display: none;}
.expand-nav	{cursor:pointer;float:right;padding:8px 0px;}

#slidecontent{display: none;}
.when-hidden	{
	text-align: center;
	font-size:13px;
	color:#848484;
	cursor: pointer;
	z-index: 1;
	position: relative;
	background:url(images/when_hidden.png) no-repeat center;
	height: 41px;
	width: 90px;
	margin:0 auto;
}
.when-shown	{
	font-size:13px;
	color:#848484;
	text-align: center;
	cursor: pointer;
	display:none;
	z-index: 100;
	position: relative;
	background:url(images/when_shown.png) no-repeat center;
	height: 40px;
	width: 90px;
	margin:0 auto;
}
.when-hidden:hover	{background:url(images/when_hidden_hover.png) no-repeat center;}
.when-shown:hover	{background:url(images/when_shown_hover.png) no-repeat center;}

.shadow-header	{background:url(images/shadow_header.png) no-repeat center;display: none;z-index: 1;margin-top:1000;position: relative;height: 41px;}



/* Main styles
----------------------------------------------------------------------------------------------------*/
#column1, #column2, .column-head {
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 35px;
}

#column1	{margin:30px auto 39px auto;}
#column1 a 	{text-decoration: none;}
#column2	{margin:30px auto;width:322px;}
#column2 a 	{text-decoration: none;}

.column-head	a {color:#000;}
#column2 .column-head {margin-bottom: 30px;}


#graphics	{
	padding: 20px 20px 10px 20px;
	border: #b9b9b9 dashed 1px;
	height: 200px;
}

#graphics a 	{text-decoration: none;}

#collections	{
	padding: 20px 20px 10px 20px;
	margin-left: 60px;
	border: #b9b9b9 dashed 1px;
	margin-right: 0px;
	height: 200px;

}

#collections a 	{text-decoration: none;}

#display_bar {height:50px;}

.article-latest	{margin-top: 30px;}
.latest-img	{margin: 0 20px 0 0;border:1px solid #777;float:left;}
.latest-text	{width:375px;float:left; position: relative;margin-right: -5px;max-height: 150px;}
.latest-head {max-height: 50px;overflow: hidden;}
.latest-head a {width:375px;margin-right: -5px;font-size:18px;font-weight:700;color:#000;text-decoration: none;line-height: 24px;}
.latest-author {margin:5px 0;}
.latest-author	a {font-size:13px;color:#b42800;text-decoration: none;line-height: 24px;}
.latest-abstract	 {font-size:15px;color:#777;text-decoration: none;line-height: 24px;}
.latest-abstract.abstract-full {overflow: visible;position: relative;z-index: 9999;}
.latest-abstract.abstract-short {overflow: hidden;position: relative;z-index: 1;max-height: 100px;}
.box-abstract	{
	height:auto;
	font-size:15px;
	color:#777;
	line-height: 24px;
	position: relative;
	z-index: 1000;
	padding: 6px 10px 5px 10px;
	margin: -6px -10px -5px -10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	background-color: #fff;
}

.article-select	{margin-top:18px;}
.article-select-first	{margin-top:30px;}
.select-head	{margin-bottom:5px;}
.select-head	a {font-size:14px;font-weight:700;color:#b42800;text-decoration:none;line-height:24px;}
.select-abstract	 {font-size:14px;color:#777;line-height:24px;}

.additional-img1 {
	width: 180px;
	height: 180px;
	margin-left: 22px;
	margin-bottom:50px;
}

.additional-img1 .slidesjs-pagination {
	list-style: none;
	padding-left: 65px;
	margin-top: 10px;
}

.additional-img2 {
	width: 120px;
	height: 180px;
	margin-left:30px;
	margin-bottom:50px;
}

.additional-img2 .slidesjs-pagination {
	list-style: none;
	padding-left: 35px;
	margin-top: 10px;
}

.additional-img1,.additional-img2	{
	border:0px solid #777;
	float:left;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	behavior: url(PIE.htc);
}


.additional-text-graphics	{width: 238px;float: left;margin:0px;}
.additional-text-collections	{width: 210px;float: left;margin:0px;}

.additional-head	{margin-bottom: 28px;}
.additional-head	a {font-size:15px;font-weight: 700;color: #000;text-decoration: none;line-height: 24px;}
.additional-abstract	{margin-top:10px;font-size:14px;color:#777;line-height:24px;}
/*.dots	{float:left;margin-left:20px;margin-bottom: 50px;}*/
.circle1-1	{border-radius:50%;width: 10px;height: 10px;background-color:rgba(180,175,170,0.5);float:left;position:relative;behavior: url(PIE.htc);}
.active > .circle1-1	{border-radius:50%;width: 10px;height: 10px;background-color:#b42800;float:left;position:relative;behavior: url(PIE.htc);}
.circle1-2	{border-radius:50%;width: 10px;height: 10px;background-color:rgba(180,175,170,0.5);float:left;position:relative;margin-left:10px;behavior: url(PIE.htc);}
.active > .circle1-2	{border-radius:50%;width: 10px;height: 10px;background-color:#b42800;float:left;position:relative;margin-left:10px;behavior: url(PIE.htc);}
.circle1-3	{border-radius:50%;width: 10px;height: 10px;background-color:rgba(180,175,170,0.5);float:left;position:relative;margin-left:10px;behavior: url(PIE.htc);}
.active > .circle1-3	{border-radius:50%;width: 10px;height: 10px;background-color:#b42800;float:left;position:relative;margin-left:10px;behavior: url(PIE.htc);}


/* footer styles
----------------------------------------------------------------------------------------------------*/
#footer	{margin:0 auto;width:auto;padding:25px 40px; color: #b9b9b9; background-color:#5e5e5e;height:280px;padding-left:0px; margin-top:20px;}
#footer a {text-decoration:none;color:#f1f1f1;padding:0px;margin:0px;}

#footer ul	{list-style: none;padding:0px;margin:0px;}
#footer li {display:inline;}

.partner	{margin:0;padding: 0;}
.partner ul	{
	font-size:13px;
	list-style: none;
	margin:0px;
	padding:0px;
	line-height:24px;
	width:100px;
	float:left;
}

.social	{margin-left: -5px;margin-bottom: 20px;}
.social ul {float: none;}
.social li {float: left;}



.emailbox_input	{
	font-family: "CNPzh", "CNPla", "Helvetica Neue", Arial, "DejaVu Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
/*	background-color:#525252;*/
	background-color:transparent; 
	color:#777;
	width:285px;
	height: 30px;
	margin-left:-5px;
	font-size:14px;
	border: 0px solid #999;
/*	box-shadow: 0px -2px 3px rgba(0,0,0,0.1), -2px 0px 3px rgba(0,0,0,0.1), 2px 0px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px -2px 3px rgba(0,0,0,0.1), -2px 0px 3px rgba(0,0,0,0.1), 2px 0px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px -2px 3px rgba(0,0,0,0.1), -2px 0px 3px rgba(0,0,0,0.1), 2px 0px 3px rgba(0,0,0,0.1);*/
	padding-left: 5px;
	behavior: url(PIE.htc);
	position: relative;
	z-index: 2;

}

.emailbox_img	{margin:auto 0 5px -35px;vertical-align: middle;position: relative;z-index: 2;}
.emailbox_shadow	{margin:-95px 0 0 -20px;vertical-align: middle;position: relative;z-index: 2;}
input.emailbox_input:focus	{outline-width: 0px;color:#f1f1f1;}

#footer-end	{font-size:13px;line-height: 26px;margin-top:38px;}
.footer-about {margin-top: 30px;}

/* slide.js styles
----------------------------------------------------------------------------------------------------*/


/*Post Article
----------------------------------------------------------------------------------------------------*/
.post-block	{width: 576px;}
/*.post-head	a {color:#000;font-size: 24px;line-height: 36px;font-weight: bold;font-weight: bolder;}*/
h1 {color:#000;font-size: 24px;line-height: 36px;font-weight: bold;font-weight: bolder;} /*.post-head*/
h1.post-head {margin:0px;}
.post-subhead	{color:#000;font-size: 16px;line-height: 28px;font-weight: bold;font-weight: bolder;}
.post-author	{
	margin:35px 0;
	line-height: 14px;
	width: 200px;
}
.post-author a	{font-size:14px;color:#b42800;line-height: 14px;}
.post-tag	{margin:28px 0;float: right;text-align: right;font-size:14px;line-height: 28px;color:#b9b9b9;}
.post-body {width: 576px;}
.post-body p {
	color: #3b3b3b;
	margin-top: 16px;
}
.post-body a:link {color:#b42800;}
.post-body a:visited {color:#b42800;}
.post-body a:hover {text-decoration: underline;}
.post-lead	{
	font-size: 14px;
	color:#848484;
	line-height: 24px;
	padding: 15px 22px;
	margin-bottom: 21px;
	background-color:rgba(95,60,0,0.05); 
}
.post-lead a {color:#b42800;}

/* compatibility */
blockquote {
	width: 496px;
	margin-top: 25px;
	padding-bottom: 30px;
}

blockquote a {color:#b42800;}
blockquote p {
	margin-bottom: 0px;
}

blockquote footer {
	margin-top: 8px;
}

blockquote:before {
	content: " ";
	background-image: url(images/quote-left.png);
	display: block;
	width: 25px;
	height: 20px;
	margin-left: -40px;
	margin-bottom: -20px;
	float: left;
}

blockquote:after {
	content: " ";
	background-image: url(images/quote-right.png);
	display: block;
	width: 25px;
	height: 20px;
	margin-right: -40px;
	margin-top: -20px;
	float: right;
}

.post-body	{font-size: 16px;line-height: 28px;width:576px;}
.post-body p {margin-top: 20px;}
.post-body p.post-subtitle {font-size: 18px;line-height: 28px;font-weight: bold;font-weight: bolder;margin-top: 30px;}
.post-body h3 {font-size: 18px;line-height: 28px;font-weight: bold;font-weight: bolder;margin-top: 30px;}/*heading in post-body*/
.post-body h4 {
	font-size: 14px;
	font-weight: bold;
	margin: 12px 0px;
}
.post-body em, cite, i {font-style: italic;}
.post-body strong, b {font-weight: bold;}

.ui-tooltip {
	background-color:#ddd;
	position:absolute;
	width: auto;
	padding: 3px;
	z-index: 9999;
	max-width: 300px;
	border-radius: 3px;
	behavior: url(PIE.htc);
}
.post-img {margin: 28px auto;text-align: center;padding:0 22px;max-width: 532px;}
.post-body figure {
	margin: 28px auto;
	text-align: center;
	padding:0 22px;
	max-width: 532px;
}/*figure in body*/
.post-body figure img {
	margin: 0px auto;
	max-width: 566px;
}
.post-body figcaption {
	font-size:14px;
	color:#9e9e9e;
	line-height: 24px;
	padding: 0px 22px;
	margin-top: 14px;
}

.post-body img {
	display: block;
	/*margin: 5px auto 5px  auto;*/
	margin: 28px auto;
	border:#fff solid 5px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	behavior: url(PIE.htc);
}

span.inline-note {color: #b42800;}
.post-endnote {
	width:576px;
	margin-top: 56px;
	/*padding-top:40px;
	padding-bottom:70px;*/
	font-size: 14px;
	line-height: 24px;
	color:#777;
}
.post-body span {width:576px;padding-top:40px;padding-bottom:70px;font-size: 14px;line-height: 24px;color:#777;}/* compatibility */

.post-share	{
	width: 340px;
	color:#848484;
	margin:70px auto 29px auto;
	padding:20px 0px 20px 0px;
	text-align: center;
	border: #b9b9b9 dashed 1px;

}
.post-share p {
	font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
}
.post-share ul	{
	height: 36px;
    width: 306px; /*此处手工计算了 6 个 icon 占宽，可能有更灵活的实现方式*/
    margin : 15px auto 0px auto;
    padding: 0px;
}
.post-share li {
    float: left;
    padding: 0px 7.5px;
}
.post-share a {color:#b42800;}

.post-end-button	{
	text-align: center;
	font-size:13px;
	color:#848484;
	cursor: pointer;
	z-index: 1;
	position: relative;
	background:url(images/when_shown.png) no-repeat center;
	height: 41px;
	width: 90px;
	margin:0 auto;
}

.post-end-button:hover {background:url(images/when_shown_hover.png) no-repeat center;}
.comment-head {width:576px;color:#848484;margin: 0px auto;padding:15px 20px;background-color:rgba(95,60,0,0.05);border: #b9b9b9 dashed 1px;}
.comment-head a {color:#b42800;}
.comment-body {display:none;color:#777;font-size:14px;line-height:28px;width: 576px;margin:-1px auto;padding: 20px;border: #b9b9b9 dashed 1px;}
.comment-body a {color:#b42800;}
.comment-box	{color:#777;font-size:14px;line-height:28px;width: 576px;margin:-1px auto;border: #b9b9b9 dashed 1px;}
.comment-box a {color:#b42800;}
.comment-avatar {float: left;border: 1px solid #777;margin-right:20px;margin-bottom: 40px;border-radius:75px;}
.comment-input	{
	width:552px;margin-top:-2px;margin-bottom:-2px;padding:12px;color:#b9b9b9;
	-webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
	behavior: url(PIE.htc);
}
.collapse-comments {display: none;}

/*POST SIDEBAR 
---------------------------------------------------------------------------------------*/
.post-sidebar-info	{font-size:14px;margin-top: 150px;}
.post-sidebar-filter {font-size:14px;margin-top: 70px;}
.post-info-box	{padding:12px 10px;margin-top:-1px;border: #b9b9b9 dashed 1px; color:#b9b9b9;font-size: 14px;}
.post-info-box	a {color: #b42800;}
.post-info-box img {margin-top:5px;float: right;}

.post-filter-box	{margin-top:-1px; border: #b9b9b9 dashed 1px; color:#b9b9b9;font-size: 14px;}
.post-filter-box	a {color: #b42800;}
.post-filter-box img {margin: 5px 0px;float: right;}

.post-filter-selected {color: #b42800; font-weight: bold;}

.post-sidebar.emailbox_shadow {
	width: 345px;
	height: 5px;
	margin: -88px 0 0 -20px;
	position: relative;
	z-index:2;
}

.post-sidebar-info p,.post-sidebar-filter p {margin-top: 35px;width: 280px;color: #b9b9b9;margin-left: 10px;}
.post-sidebar-info p {line-height: 24px;}
.post-sidebar-info p a,.post-sidebar-filter p a {color: #b42800;}
.post-sidebar-social ul {display: inline;margin-left: 5px;}
.post-sidebar-social ul li {float: left;}
.post-sidebar-emailbox-input	{
	font-family: "CNPzh", "CNPla", "Helvetica Neue", Arial, "DejaVu Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	background-color:transparent;
	color:#b9b9b9;
	width:285px;
	height: 30px;
	margin-left:5px;
	font-size:14px;
/*	box-shadow: 0px -2px 3px rgba(0,0,0,0.1), -2px 0px 3px rgba(0,0,0,0.1), 2px 0px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px -2px 3px rgba(0,0,0,0.1), -2px 0px 3px rgba(0,0,0,0.1), 2px 0px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px -2px 3px rgba(0,0,0,0.1), -2px 0px 3px rgba(0,0,0,0.1), 2px 0px 3px rgba(0,0,0,0.1);*/
	padding-left: 5px;
	behavior: url(PIE.htc);
	position: relative;
	z-index: 2;
}

.post-sidebar-emailbox-sample {
	width: 290px;
	height: 30px;
	margin: 0 auto;
	position: relative;
	top: -35px;
	overflow: hidden;
	padding: 3px 3px 0 3px;
	z-index:1;
}

.post-sidebar-emailbox-sample:before {
	position: absolute; 
	content: ' '; 
	top: 3px;
	right: 3px;
	bottom: -3px;
	left: 3px;
	background-color: #ffffff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.post-sidebar-emailbox-input:focus {
	color:#777;
}


.observer-info p {margin-top:5px;margin-left: 0px;}
.observer-info ul li {line-height: 28px;}
.observer-info ul li :before{
	content: "• ";     
    color: #b9b9b9;
}
.observer-info ul li a {color: #777;}

.observer-info ul {display: inline;}

.researcher-info p {margin-top:5px;margin-left: 0px;}
.researcher-info ul li {line-height: 28px;}
.researcher-info ul li :before{
	content: "• ";     
    color: #b9b9b9;
}
.researcher-info ul li a {color: #777;}

.researcher-info ul {display: inline;}

.theme-info p {margin-top:5px;margin-left: 0px;}
.theme-info ul li {line-height: 28px;}
.theme-info ul li :before{
	content: "• ";     
    color: #b9b9b9;
}
.theme-info ul li a {color: #777;}

.theme-info ul {display: inline;}

.collapse-theme-info,
.collapse-observer-info,
.collapse-researcher-info,
.theme-info,
.observer-info,
.researcher-info	{display: none;}

.collapse-researcher-info,
.collapse-observer-info,
.collapse-comments,
.collapse-theme-info,
.expand-researcher-info,
.expand-observer-info,
.expand-theme-info,
.expand-comments	{cursor:pointer;}

.filter-header	{
	padding:12px 10px;
	margin-top:-1px;
	margin-bottom:-1px;

	border-bottom: #b9b9b9 dashed 1px;
	background-color:rgba(95,60,0,0.05);
}

.topic-filter p {margin-top:5px;margin-left: 0px;}
.topic-filter ul li {width:130px; float:left; padding-left:10px; line-height: 28px;}
.topic-filter  ul li :before{
	content: "• ";     
    color: #b9b9b9;
}
.topic-filter ul li a {color: #777;}

.topic-filter ul {min-height: 1px;} /* avoid collapse */
.topic-filter ul {margin-left:0px; padding:0px; display:block; list-style-type:disc; }

.author-filter p {margin-top:5px;margin-left: 0px;}
.author-filter ul li {width:85px;float:left; padding-left:10px;line-height: 28px;}
.author-filter  ul li :before{
	content: "• ";     
    color: #b9b9b9;
}
.author-filter ul li a {color: #777;}

.author-filter ul {min-height: 1px;} /* avoid collapse */
.author-filter ul {margin-left:0px; padding:0px; list-style-type:disc;}

.quarter-filter p {margin-top:5px;margin-left: 0px;}
.quarter-filter ul li {width:85px;float:left; padding-left:10px; line-height: 28px;}
.quarter-filter  ul li :before{
	content: "• ";     
    color: #b9b9b9;
}
.quarter-filter ul li a {color: #777;}

.quarter-filter ul {min-height: 1px;} /* avoid collapse */
.quarter-filter ul {margin-left:0px; padding:0px; list-style-type:disc;}


.nav-collapse-content,
.collapse-topic-filter,
.collapse-author-filter,
.collapse-quarter-filter,
.topic-filter,
.author-filter,
.quarter-filter	{display: none;}

.collapse-topic-filter,
.collapse-author-filter,
.collapse-quarter-filter,
.expand-topic-filter,
.expand-author-filter,
.expand-quarter-filter	{cursor:pointer;}

/*CATEGORY 404 
---------------------------------------------------------------------------------------*/

.category404	{text-align: center;padding:20px 40px;margin-top:30px;margin-left: 70px;border:1px dashed #777;width: 400px;}
.category404 p {font-size:15px;color:#777;}
.category404 p a {color: #b42800;}
.column1404	{padding-bottom: 280px;}




/*06 _ Researcher Page
---------------------------------------------------------------------------------------*/
#researcher-avatar	{
	text-align: center;
	font-size:18px;
	color:#b42800;
	z-index: 1;
	position: relative;
	margin:0 auto;
	font-weight: bold;
	margin-top: 20px;
}

#researcher-avatar img {
	border-radius:50%;
	width: 150px;
	height: 150px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	behavior: url(PIE.htc);
}

.researcher-intro	{width: 450px;margin-left: 80px;}
.researcher-intro p {line-height: 28px;font-size: 15px;color: #777;}
.researcher-intro ul {padding-left: 0px;line-height: 28px;list-style-type: circle;}
.researcher-intro ul li a {color:#777;}

.researcher-topic	{line-height: 28px;color: #3B3B3B;font-size: 14px;margin-left: 40px;width: 240px;}
.researcher-topic ul {margin:0 0 0 -40px;float: left;}
.researcher-topic ul li {list-style:none; width: 100px; margin-right: 20px; display: inline-block;}
.researcher-topic ul li :before{
	content: "• ";     
    color: #b9b9b9;
}
.researcher-topic ul li a {font-size: 14px; color: #222;}

.clear1	{clear: both;height:0;} 


.fixed-atop {
	background-image:url(images/background_pattern.jpg);
	padding-top: 10px;
	margin-top: -10px;
}

/* pagination 
---------------------------------------------------------------------*/
.pagination {
	color:#b9b9b9;
	font-color:#b9b9b9;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
	padding:20px;
}

.pagination a {
	color:#b9b9b9;
}

.pagination .page-numbers:after {
	padding-left: 9px;/*changed from 10 to 9*/
	content:'|';
	display: inline-block;
	padding-right: 9px;/*changed from 10 to 9*/
}

.pagination .page-numbers:hover:after, .pagination .page-numbers:active:after {color:#b9b9b9;}

.pagination .current {
	color:#b42800;
	font-weight: bold;
}
.pagination .current:after {
	color:#b9b9b9;
	font-weight: normal;
}

.pagination .last-number:after {
	content:'';
}

a.next.page-numbers:after {
	content:'';
	width: 0;
	height: 0;
	margin-bottom: -2px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #b9b9b9;
}

a.prev.page-numbers:after {
	content:'';
	padding: 0;
	margin: 0;
	margin-bottom: -2px;
	margin-right: 20px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #b9b9b9;

}


.pagination a:hover {color:#b42800;}
a.prev.page-numbers:hover:after {border-right:7px solid #b42800;}
a.next.page-numbers:hover:after {border-left:7px solid #b42800;}


.pagination a:active {color:#b42800;}
a.prev.page-numbers:active:after {border-right:7px solid #b42800;}
a.next.page-numbers:active:after {border-left:7px solid #b42800;}

#p404 {
	margin: 55px auto;
	text-align: center;
	width: 480px;
}


#p404 p {
	font-size: 16px;
	color:#777777;
	line-height: 28px;
	text-align: left;
}

#p404 p.source {
	font-size: 14px;
	color: #b42800;
	text-align: center;
	padding-top: 25px;
}

.close {
	position:absolute;
	width: 10px;
	height: 10px;
/*	margin-top:20px;*/
	background-image: url(images/button-close-default.png);
	background-size:10px 10px;
	cursor: pointer;
}





#box-sample {
	width:150px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-33px;
	overflow:hidden;
	padding:3px 3px 0px 3px;
	z-index:1;
}

#box-sample:before, #box-sample-fancybox:before{
	position: absolute; 
	content: ' '; 
	top: 3px;
	right: 3px;
	bottom: -3px;
	left: 3px;
	background-color: #ffffff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#box-sample-fancybox {
	width:300px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-33px;
	overflow:hidden;
	padding:3px 3px 0px 3px;
	z-index:1;

}

.emailbox_footer_sample {
	width:290px;
	height:30px;
	margin-left: -8px;
	position:relative;
	top:-33px;
	overflow:hidden;
	padding:3px 3px 0px 3px;
	z-index:1;	
}

.emailbox_footer_sample:before {
	position: absolute; 
	content: ' '; 
	top: 3px;
	right: 3px;
	bottom: -3px;
	left: 3px;
	background-color: #525252;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

}




